{% extends 'base.html' %}

{% block content %}
	<h1>Product</h1>

	<p>{{object.title}}</p>
	<p>{{object.description}}</p>
	<p>{{object.price}}</p>

	<form action="{% url 'cart_add' object.id%}" method="POST">
		{% csrf_token %}
		<input type="submit" value="Add to cart" class="btn btn-outline-dark">
	</form>
	<a href="{% url 'update_wishlist' object.id %}">Add to Wishlist</a>

	{% for review in object.review_set.all %}
	<br><br>
		<p>{{review.customer}}</p>
		<p>{{review.rate}}</p>
		<p>{{review.review}}</p>
	{% endfor %}
{% endblock %}